* {
    border-size: border-box;
    font-family: 'Roboto Mono', monospace;
}

.menu-button:hover {
    cursor: pointer;
    background-color: #ccc!important;
}
.menu-button.chosen {
    background-color: #ccf!important;
}
/*.menu-button.chosen-hover {*/
/*    background-color: #ccf!important;*/
/*}*/